
.container {
    padding: 20px 25px;
    margin-left: 90px;                    
    width: calc(100% - 90px);             
    transition: all 0.3s ease;
}


.large-container {
    margin-left: 240px;
    width: calc(100% - 240px);     
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
    width: 100%;
  }
}